* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill);
}
.first {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  padding: 1rem 0.2rem;
}
.second {
  background-color: hsl(184, 100%, 22%);
  padding: 1rem 0.2rem;
}
.third {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
  padding: 1rem 0.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 50px;
}

.attribution a {
  color: hsl(228, 67%, 56%);
  font-weight: bold;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}
.button {
  border: 2px solid #fff;
  font-size: 1rem;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin-left: 20px;
  transition: 1s ease;
}
.button:hover {
  background-color: black;
  box-shadow: 0 0 28px 10px crimson;
  color: white;
}
.title {
  margin-left: 30px;
}
.paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  padding: 10px;
  line-height: 1.6;
  margin-left: 20px;
}
.img {
  margin-right: auto;
  padding: 20px;
}
h1 {
  font-size: 2rem;
}
@media only screen and (min-width: 375px) and (max-width: 700px) {
  .container {
    grid-auto-flow: row;
    min-height: 100%;
    margin-top:40rem;
  }
  .first {
    width: 100%;
    border-radius: 0;
  }
  .second {
    width: 100%;
  }
  .third {
    border-radius: 0;
    width: 100%;
  }
}
